<h2>Budget App</h2>

<a class="fake_button" [routerLink]="['/create-transaction']">Create Transaction</a>
<a class="fake_button" [routerLink]="['/transactions']">All Transactions</a>
<a class="fake_button" [routerLink]="['/transactions']" [queryParams]="{query:'needsCategorized'}">Needs Categorized Transactions</a>
<a class="fake_button" [routerLink]="['/transactions']" [queryParams]="{query:'needsTransferred'}">Needs Transferred Transactions</a>
<a class="fake_button" [routerLink]="['/transactions']" [queryParams]="{query:'possibleDuplicates'}">Possible Duplicate Transactions</a>
<a class="fake_button" [routerLink]="['/budgets']">Budgets</a>
<a class="fake_button" [routerLink]="['/categories']">Categories</a>
<a class="fake_button" [routerLink]="['/transactions-upload']">Upload Transactions CSV</a>
