<h2>Budget App</h2>

<div class="fake_button" (click)="createTransaction()">Create Transaction</div>
<a class="fake_button" [routerLink]="['/transactions']">All Transactions</a>
<a class="fake_button" [routerLink]="['/transactions']" [queryParams]="{needsCategorized:true}">Needs Categorized Transactions</a>
<a class="fake_button" [routerLink]="['/transactions']" [queryParams]="{needsTransferred:true}">Needs Transferred Transactions</a>
<a class="fake_button" [routerLink]="['/budgets']">Show Budgets</a>
<a class="fake_button" [routerLink]="['/categories']">Categories</a>
<a class="fake_button" [routerLink]="['/transactions-upload']">Upload Transactions CSV</a>
