<div class="container">
  <h2>{{ date | date : 'MMMM yyyy' }}</h2>

  <a [routerLink]="['/monthly']" [queryParams]="{date:previousDate}">Previous</a>
  -
  <a [routerLink]="['/monthly']" [queryParams]="">This Month</a>
  -
  <a [routerLink]="['/monthly']" [queryParams]="{date:nextDate}">Next</a>

  <br>
  <br>

  <div *ngFor="let budget of budgets">
    <div class="budgetTitle">{{ budget.budget.name }}</div>
    <label for="budget"> </label>
    <progress id="budget" value="{{budget.percent}}" max="100"
              [ngClass]="budget.percent >= 100 ? 'progress-full'
              : budget.percent > 80? 'progress-high'
              : 'progress-normal' ">
      20
    </progress>
    <div>{{ budget.total | currency }} of {{ budget.budget.amount | currency }}</div>
    <div *ngFor="let category of budget.categories">
      <a class="category_link" [routerLink]="['/transactions']"
         [queryParams]="{ query: createQuery(category.category.id) }">
        <div class="category">{{ category.category.name }}: {{ category.total | currency }}</div>
      </a>
    </div>
  </div>
</div>
