.container {
  margin-top: 5px;
}

input {
  width: 100%;
  max-width: 600px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 20px;
  font-size: medium;
}

.fake_button {
  text-decoration: none;
  background-color: #04AA6D;
  color: #f2f2f2;
  font-size: x-large;
  padding: 10px;
  max-width: 580px;
}

.budget {
  text-decoration: none;
  background-color: #4b4b4b;
  color: #f2f2f2;
  font-size: large;
  padding: 10px;
  max-width: 580px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 10px;
}

ul form {
  margin: 0px;
  display: inline;
}
