h3 {
  text-align: center;
}

div.title {
  font-size: large;
}

select {
  font-size: large;
  margin-top: 5px;
  padding: 10px 0px;
  width: 100%;
  max-width: 596px;
}

input.skip {
  font-size: large;
  margin-top: 5px;
  padding: 10px 0px;
  width: 100%;
  max-width: 593px;
}

input.file_selector {
  padding: 10px 0px;
}

input.submit_button {
  appearance: none;
  font-size: large;
  padding: 10px 0px;
  width: 100%;
  max-width: 596px;
}

