<h3>Select export to upload</h3>
<form ngNoForm method="POST" action="/rest/transactions/upload" enctype="multipart/form-data">
  <hr>
  <input class="file_selector" type="file" name="file" (change)="onFileSelected($event)"/>
  <hr>
  <div class="title">Account</div>
  <select name="account" [(ngModel)]="account">
    <option *ngFor="let accountName of accounts" value="{{accountName}}">
      {{ accountName }}
    </option>
  </select>
  <hr>
  <input class="submit_button" type="submit"/>
</form>
