<h2>Edit Budget</h2>

<div class="title">Name:</div>
<input type="text" class="input_class"
       [(ngModel)]="name"
       (keyup.enter)="updateName()"
       (focusout)="updateName()"
/>

<div class="title">Amount:</div>
<input type="number" class="input_class"
       [(ngModel)]="amount"
       (keyup.enter)="updateAmount()"
       (focusout)="updateAmount()"
/>

<div class="title">Categories:</div>
<div class="category_list">
  <div *ngFor="let category of categories">
    <div *ngIf="category.budget?.id === budgetId">{{ category.name }}</div>
  </div>
</div>

<div class="title">Transfer Account:</div>
<input type="text" class="input_class"
       [(ngModel)]="transferAccount"
       (keyup.enter)="updateTransferAccount()"
       (focusout)="updateTransferAccount()"
/>

<div class="title">Monthly:</div>
<input type="checkbox"
       [(ngModel)]="monthly"
       (change)="updateMonthly()"
/>

<br>
<br>
<br>

<div class="green_button" (click)="done()">Done</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="red_button" (click)="deleteBudget()">Delete Budget</div>
