<div class="transaction_amount" [ngClass]="transaction.transactionType"
     *ngIf="!editingAmount"
     (click)="onClickAmount()"
>
  {{ transaction.amount | currency }}
</div>
<div class="transaction_description"> {{ transaction.description }}</div>
<div class="transaction_date"> {{ transaction.transactionDate | date }}</div>
<div class="transaction_account">{{ transaction.account }}</div>

<div *ngIf="editingAmount">
  <hr>

  <div class="selection_title">Original Amount</div>
  <div class="selection_value">{{ transaction.bankTransaction?.amount | currency }}</div>
  <input type="number" [(ngModel)]="transaction.amount" (keyup.enter)="onClickUpdateAmount()">

  <br>
  <br>
  <div class="fake_button" (click)="onClickUpdateAmount()">Update Amount</div>
  <br>
  <div class="fake_button" (click)="onClickCancelEditAmount()">Cancel</div>
</div>
<hr>

<div (click)="onClickDescription()">
  <div *ngIf="!editingDescription">
    <div class="selection_title">Description</div>
    <div class="selection_value">{{ transaction.description }}</div>
  </div>
  <div *ngIf="editingDescription">
    <div class="selection_title">Original Description</div>
    <div class="selection_value">{{ transaction.bankTransaction?.description }}</div>
    <input class="description" type="text" (keyup.enter)="onClickUpdateDescription()"
           [(ngModel)]="transaction.description">
    <br>
    <br>
    <div class="fake_button" (click)="onClickUpdateDescription()">Update Description</div>
    <br>
    <div class="fake_button" (click)="onClickResetDescription()">Reset Description</div>
    <br>
    <div class="fake_button" (click)="onClickCancelEditDescription()">Cancel Edit Description</div>
  </div>
</div>

<hr>

<a class="plain_link" [routerLink]="['/transactions/'+transaction.id+'/category']"
   [queryParams]="{query:query}">
  <div class="selection_title">Category</div>
  <div class="selection_value">{{ transaction.category ? transaction.category.name : "Select Category" }}</div>
</a>

<hr>

<a class="plain_link" [routerLink]="['/transactions/'+transaction.id+'/tags']"
   [queryParams]="{query:query}">
  <div class="selection_title">Tags</div>
  <div class="selection_value"> {{ transaction.tags || "Add Tags" }}</div>
</a>

<hr>

<div (click)="onClickEditNotes()">
  <div class="selection_title">Notes</div>
  <div *ngIf="!editingNotes">
    <div class="selection_value">{{ transaction.notes || "Add Notes" }}</div>
  </div>
  <div *ngIf="editingNotes">
    <input class="description" type="text" (keyup.enter)="onClickUpdateNotes()" [(ngModel)]="transaction.notes">
    <br>
    <br>
    <div class="fake_button" (click)="onClickUpdateNotes()">Update Notes</div>
    <br>
    <div class="fake_button" (click)="onClickCancelNotes()">Cancel</div>
  </div>
</div>

<hr>

<div (click)="onClickDate()">
  <div *ngIf="!editingDate">
    <div class="selection_title">Date</div>
    <div class="selection_value">{{ transaction.transactionDate | date :'longDate' }}</div>
  </div>
  <div *ngIf="editingDate">
    <div class="selection_title">Original Date</div>
    <div class="selection_value">{{ transaction.bankTransaction?.transactionDate | date : 'longDate' }}</div>
    <input class="transaction_date" type="date" [(ngModel)]="transaction.transactionDate">
    <br>
    <br>
    <div class="fake_button" (click)="onClickUpdateDate()">Update Date</div>
    <br>
    <div class="fake_button" (click)="onClickCancelDate()">Cancel</div>
  </div>
</div>

<hr>

<div (click)="onClickTransactionType()">
  <div class="selection_title">Transaction Type</div>
  <div *ngIf="!editingTransactionType">
    <div class="selection_value">{{ transaction.transactionType }}</div>
  </div>
  <div *ngIf="editingTransactionType">
    <select class="transaction_type" [(ngModel)]="transaction.transactionType">
      <option value="debit" [selected]="transaction.transactionType === 'debit'">debit</option>
      <option value="credit" [selected]="transaction.transactionType === 'credit'">credit</option>
    </select>
    <br>
    <br>
    <div class="fake_button" (click)="onClickUpdateTransactionType()">Update Transaction Type</div>
    <br>
    <div class="fake_button" (click)="onClickCancelTransactionType()">Cancel</div>
  </div>
</div>

<hr>

<a class="plain_link " [routerLink]="['/split/'+transaction.bankTransaction?.id]"
   [queryParams]="{query:query}">
  <div class="selection_title">Split Transaction</div>
  <div class="selection_value">{{ transaction.splitIndex > 0 ? "Split" : "Not Split" }}</div>
</a>

<hr>

<div (click)="onClickNeedsTransferred()">
  <div class="selection_title">Needs Transferred</div>
  <div class="selection_value">{{ transaction.needsTransferred }}</div>
</div>

<hr>

<br>
<a class="fake_button" [routerLink]="['/transactions']" [queryParams]="{query:query}">Done</a>
